---
layout: page
title: "About"
description: "Become a geek bear."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh">
    <blockquote>
        写写代码，玩玩数据。
        从数据视角感受世界的奇妙之处。
    </blockquote>

    <p>研究生，就读于厦门大学经济学院统计系。所学的东西比较杂，本科时接触较多经济类
    的课程，后来由于个人兴趣爱好，更多地学习一些与数据分析相关的知识。</p>

    <p>篮球狗，初中开始接触篮球，从小看着邓呆和蜗壳的比赛长大。打球风格类似皮蓬，
    身披33号战袍，锋卫摇摆人，以抢断出名于某不知名野球场。</p>

    <p>主业，热衷于数据分析，没事折腾一些有趣的数据案例，每周帮某初创数据分析公司
    翻译专题文章。</p>

    <p>业余生活，关注金融市场，投资于全球最不理性股票市场——大A股，有幸经历了
    2015年A股“暴恐事件”，并从中存活下来。<b>中线投资者<b></p>

    <p>忘了自我介绍，我叫<b>五只熊</b>。

    <hr>
 <!--   附上认真版的简历:
    <ul class="active-list">
        <li><a href="{{site.baseUrl}}/attach/2016_Hux_DEV_en.pdf"> 2016_Hux_DEV_en </a></li>
        <li><a href="{{site.baseUrl}}/attach/2016_Hux_PD_en.pdf"> 2016_Hux_PD_en </a></li>
        <li><a href="{{site.baseUrl}}/attach/2015_Hux_SDE_cn.pdf"> 2015_Hux_SDE_cn </a></li>
        <li><a href="{{site.baseUrl}}/attach/2015_Hux_UX & PD_cn.pdf"> 2015_Hux_UX & PD_cn </a></li>
        <li><a href="{{site.baseUrl}}/attach/2015_Hux_UX & PD_en.pdf"> 2015_Hux_UX & PD_en </a></li>
    </ul> -->

    一些期待成为的角色:
    <ul>
        <li> Data Scientist </li>
        <li> Risk Management </li>
        <li> Investor </li>
    </ul>

    <blockquote>
        爱编程，爱统计，偶尔也忙到深夜；
        喜欢学习，努力工作，也享受生活；
        我酷爱运动，篮球与游泳时我的挚爱；
        我不是码农，我是数据科学家；
        我和你一样，为理想而奋斗。
    </blockquote>
</div>



<!-- English Version
<div class="en">
    <blockquote>
        Designer or Engineer, things in between.
    </blockquote>

    <p>Student, major in New Media Art of <a href="https://en.wikipedia.org/wiki/Communication_University_of_China">Communication University of China</a>, which is a interdisciplinary subject of technology and art, and now Senior.</p>

    <p>Programmer, JavaScript Engineer Intern of <a href="http://m.wepiao.com/index.html">Wechat Movie</a>, previous worked in <a href="http://alitrip.com" target="_blank">Alibaba Trip</a> as Front End Engineer for one year, looking for opportunities abroad.</p>

    <p>Designer, offered as UI/UX Designer Intern by Alibaba Group, Microsoft Bing etc. Experienced in Motion Graphic Design, also familer with Layout and Typography.</p>

    <p>Product Design and Program Management is also attractive and comfortable to me.</p>

    <p>My Chinese name is <b>Huang Xuan</b>, you can call me English name <b>Hux</b> for short.</p>

    <hr>
    Interested in more details? Just checkout my resumes:
    <ul class="active-list">
        <li><a href="{{site.baseUrl}}/attach/2016_Hux_DEV_en.pdf"> 2016_Hux_DEV_en </a></li>
        <li><a href="{{site.baseUrl}}/attach/2016_Hux_PD_en.pdf"> 2016_Hux_PD_en </a></li>
        <li><a href="{{site.baseUrl}}/attach/2015_Hux_UX & PD_en.pdf"> 2015_Hux_UX & PD_en </a></li>
    </ul>

    My dream position include:
    <ul>
        <li> UX Unicorn </li>
        <li> Product Engineer </li>
        <li> Creative Technologist </li>
        <li> End to End JavaScript Engineer</li>
        <li> "Full Stack" Engineer/Designer </li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
