---
layout: page
title: "About"
description: "Become a geek bear."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh">
    <blockquote>
        大金链子小手表，一天三顿代码跑。
        从数据视角感受世界的奇妙之处。
    </blockquote>

    <p>研究生，就读于厦门大学经济学院统计系。所学的东西比较杂，本科时接触较多经
    济类的课程，后来由于个人兴趣爱好，更多地学习一些与数据分析相关的知识。</p>

    <p>篮球狗，初中开始接触篮球，从小看着邓呆和蜗壳的比赛长大。打球风格类似皮蓬，
    身披33号战袍，锋卫摇摆人，以抢断出名于某不知名野球场。</p>

    <p>主业，热衷于数据分析，闲时折腾一些有趣的数据案例，每周帮某初创数据分析公
    司翻译专题文章。</p>

    <p>业余生活，关注金融市场，投资于全球最不理性股票市场——大A股，有幸经历了
    2015年A股“暴恐事件”，并从中存活下来。<b>中线投资者<b></p>

    <p>忘了自我介绍，我叫<b>五只熊<b></p>。

    <hr>


    一些期待成为的角色:
    <ul>
        <li> Data Scientist </li>
        <li> Risk Management Specialist </li>
        <li> Investor </li>
    </ul>

    <blockquote>
        爱编程，爱统计，偶尔也忙到深夜；
        喜欢学习，努力工作，也享受生活；
        我酷爱运动，篮球与游泳是我的挚爱；
        我不是码农，我是数据科学家；
        我和你一样，为理想而奋斗。
    </blockquote>
</div>



<!-- English Version -->
<div class="en">
    <blockquote>
        Explore the wonderful world from the perspective of data!
    </blockquote>

    <p>My name is Zeng Wuxiong, and you can call me <b>fibears<b>.
        I'm a master Student in Department of Statistics, Xiamen University.</p>


    My dream position include:
    <ul>
        <li> Data Scientist </li>
        <li> Risk Management Specialist </li>
        <li> Investor </li>
    </ul>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
